build
dist-bin
.idea
.eclipse
.vscode
.gradle
**/*.class
ganttproject-builder/dist-win
ganttproject-builder/dist-bin
ganttproject-builder/runtime
biz.ganttproject.core/bin
biz.ganttproject.core/build
biz.ganttproject.impex.ical/bin
biz.ganttproject.impex.ical/build
biz.ganttproject.impex.msproject2/bin
biz.ganttproject.impex.msproject2/build
ganttproject/src/main/resources/biz
ganttproject/src/main/resources/com/sandec/mdfx/mdfx.css

