build
dist-bin
.idea
.eclipse
.vscode
.gradle
**/*.class
biz.ganttproject.core/bin
biz.ganttproject.core/build
biz.ganttproject.impex.ical/bin
biz.ganttproject.impex.ical/build
biz.ganttproject.impex.msproject2/bin
biz.ganttproject.impex.msproject2/build
biz.ganttproject.mxgraph/bin
biz.ganttproject.mxgraph/build
ganttproject/src/main/resources/biz
ganttproject/src/main/resources/com/sandec/mdfx/mdfx.css
ganttproject/bin
ganttproject-builder/dist-win
ganttproject-builder/dist-bin
ganttproject-builder/runtime
ganttproject-tester/bin
org.ganttproject.chart.pert/bin
org.ganttproject.impex.htmlpdf/bin
